@model ReservaYa.Models.Usuarios

@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrarse</h2>

@foreach(var x in Model)
{ 
    <p>
        @x.Nombres
    </p>
}

